:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.content {
  flex: 1;
  padding: 20px;
}

.footer {
  position: sticky;
  bottom: 0;
  margin-top: auto;
  z-index: 1000;
  justify-content: center;
}
